In [17]:
a="Thirumalini"
b="sigc"
print(a)
print(b)

Thirumalini
sigc

In [18]:
a=10
b=20
print(a+b)

30

In [19]:
price=99.99
print([price])

[99.99]

In [22]:
is_valid = True
print(is_valid)

True

In [24]:
x,y,z =10,20,30
print(x,y,z)

10 20 30

In [26]:
p = q = r = 100
print(p,q,r)

100 100 100

In [27]:
age = 25
print(age)
age = 30
print(age)

25
30

In [32]:
value = 50
del value
# This will cause an error since value is deleted

In [33]:
message = "Hello,World!"
print(len(message))

12

In [34]:
data = 42
print(data)
data = str(data)
print(data)

42
42

In [35]:
num = 5
if num > 0:
  print("Positive Number")

Positive Number

In [36]:
age = 20
if age >=18:
  print("Eligible to vote")
else:
  print("Not eligible to vote")

Eligible to vote

In [37]:
num = 7
if num % 2 ==0:
  print("Even")
else:
  print("Odd")

Odd

In [38]:
num =-3
if num>0:
  print("Positive")
elif num < 0:
  print("Negative")
else:
  print("Zero")

Negative

In [40]:
num = 8
if num > 0:
   if num % 2 ==0:
    print("Positive and Even")

Positive and Even

In [41]:
x = 10
if x == 10: print("Python is cool")

Python is cool

In [42]:
num = 12
print("Even" if num % 2 == 0 else "Odd")

Even

In [43]:
text = "I love Python programming."
if "Python" in text:
    print("String contains 'Python'")

String contains 'Python'

In [44]:
text = "I love Python programming."
if "Python" in text:
    print("String contains 'Python'")

String contains 'Python'

In [45]:
num = 15
if num % 3 == 0 and num % 5 == 0:
    print("Divisible by both 3 and 5")
else:
    print("Not divisible by both 3 and 5")

Divisible by both 3 and 5

In [46]:
year = 2024
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap Year")
else:
    print("Not a Leap Year")

Leap Year